.topAudio{
  width: auto !important;
  height: auto !important;
}
.valueBtn{
  position: fixed;
  bottom: 30px;
  right: 20px;
  appearance: none !important;
  border: none;
  outline: none;
  background: transparent;
  z-index: 100;
  @include mq(only-md){
    right: 15px;
  }

  &__radius{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
    position: relative;
    background-image: url('../img/common/icon_volume_up.svg');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
    @include mq(only-md){
      width: 35px;
      height: 35px;
      background-size: 18px;
    }

    &::before{
      font-size: .8em;
      content: "ON";
      color: #ffffff;
      position: absolute;
      bottom: 52px;
      left: 50%;
      transform: translateX(-50%);
      @include mq(only-md){
        bottom: 37px;
      }
    }
  }


  &.off{
    & .valueBtn__radius{
      background-image: url('../img/common/icon_volume_off.svg');
      background-size: 11px;
      background-position: 13px;
      opacity: .6;
      &::before{
        content: "MUTE";
      }
      @include mq(only-md){
        background-size: 8px;
        background-position: 9px;
      }
    }
  }
}