
/* 基本的な背景、文字色で使用する青
但し文字色に関しては「/setting/_base.scss」内のbodyにも記述してある
----------------------------------- */
$MainWhite: #ffffff;


/* 差し色として使用するピンク
----------------------------------- */
$pink: #8a2564;

/* アンカーリンクを示す色
----------------------------------- */
$link: #63add4;

/* アンカーリンクをホバーしたときの色
----------------------------------- */
$link-hover: #FE7C69;


/* rgba(39,44,64, 0) */